body{
    background:#eef2ff;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

.navbar{
    padding:15px;
}

.card{
    border:none;
    border-radius:18px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.btn{
    border-radius:10px;
    font-weight:600;
}

.form-control{
    border-radius:10px;
    padding:12px;
}

table{
    border-radius:10px;
    overflow:hidden;
}

.table-primary{
    background:#4F46E5;
    color:white;
}

h1,h2,h3,h4{
    font-weight:700;
}

.container{
    padding-top:25px;
    padding-bottom:25px;
}